@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,300&display=swap');


  


  body{
    background-color:rgb(0, 0, 0);
    color:white;
    font-family: 'Montserrat', sans-serif;
  }
 .heading{
  text-align: center;
 }
  b{
    color:rgb(187, 236, 11);
  }
img{
    margin:30px 0; 
}
.exercise-heading{
  color:cyan;
  font-size: 26px;
}
a{
  color:rgb(146, 204, 251);
}
.Functions{
  font-weight:solid;
  font-size: 22px;
  background-color:white;
  padding:20px;
  color:black;
}
.live-exercise h2,h3{
  color:rgb(246, 210, 6);
}